*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-Nahidd {
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header-section  */

header{
    background-color: #fff4e7;
}

.mian-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    align-items: center;
}

.menu-heading{
    font-size: 2.8rem;
}

.menu-bar ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.menu-bar ul li{
    list-style: none;
}

.menu-bar ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(66, 66, 66, 1);
}

.banner{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 862px; */
}

.banner-content h1{
     font-size: 4rem;
     margin: 70px 0 30px 0;
}

.banner-content p{
    text-align: center;
    margin-bottom: 30px;
}

.btn{
   margin: auto;
   background-color: #ff900c;
   border: none;
   padding: 14px 22px;
   border-radius: 6px;
   color: white;
}

.banner-img img{
    /* max-width: 1040px ; */
    width: 100%;
    padding: 0 100px;
    margin:50px auto;
}

/* header-section  */


/* feature section  */

.feature{
    margin:130px auto;
}

.feature-section{
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
}

.img-gallary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.feature-content{
    max-width: 537px;
}

.feature-content h1{
    font-size: 2.3rem;
}

.feature-content p{
    font-size: 1rem;
    margin: 20px 0;
    color: rgba(114, 114, 114, 1);
}



/* feature section  */


/* experience-section  */

.experience-main-section{
    display: flex;
    gap: 150px;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
}

.experience-content h1{
    font-size: 2.8rem;
    border-left: 4px solid #ff900c;
    padding-left: 30px;
    
}

.experience-content-description{
    margin: 20px 0;
}

.experience-content p{
    color: rgba(114, 114, 114, 1);
}

.experience-box{
    /* box-shadow: 0px 0px 15px -5px #000000; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}

.experience-box h4{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.experience-img{
      position: relative;
}

.experience-img img{
    /* width: 100%; */
}

.experience-img-bottom{

    position: absolute;
    top: 90%;
    left: -100px;
}

.experience-img-bottom{
    background-color: #ff900c;
    text-align: center;
    padding: 20px 30px;
    border-radius: 7px;
}

.experience-img-bottom h1{
   font-size: 4rem;
   color: white;
}

.experience-img-bottom p{
    font-size: 1.5625rem;
    color: white;
}


/* experience-section */




/* responsive part  */

@media screen and (max-width: 575px) {
    
    .mian-nav{
        flex-direction: column;
        padding: 20px 10px;
    }

    .menu-heading{
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .banner-content h1{
        font-size: 2em;
    }

.banner-img img{
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.feature-section{
    flex-direction: column;
}

.img-gallary{
    grid-template-columns: 1fr;
}

.feature-content{
    padding-left: 20px;
    padding-right: 12px;
    text-align: center;
}

.experience-main-section{
    flex-direction: column;
}
.experience-content{
    justify-content: center;
    margin: 0 15px;
    
}

.experience-content h1{
    text-align: center;
    border: none;
    font-size: 2rem;
    
}

.experience-content P{
    text-align: center;
}

.experience-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
}

.experience-img-bottom{
    text-align: center;
    top: 100%;
    left: 0px;
}

.experience-img-bottom h1{
     font-size: 2rem;
}

.experience-img-bottom p{
    font-size: 1rem;

}

.experience-img img{
    width: 100%;
}

.experience-box{
    text-align: center;
}




}

@media screen and (min-width: 576px) and (max-width: 991px) {
    
    .mian-nav{
        padding: 20px 15px;
    }
.menu-heading{
        font-size: 2em;
    }


.menu-bar ul{
    gap: 10px;
}

.menu-bar ul li a{
    font-size: 0.7em;
}

.banner-content h1{
    font-size: 2rem;
}

.banner-content p{
    font-size: 0.7rem;
}

.banner-img img{
    max-width: 100%;
    padding: 0 30px;
}

.feature-section{
    flex-direction: column;
}

.img-gallary{
    grid-template-columns: 1fr;
}

.img-gallary img{
    width: 500px;
}

.feature-content{
    text-align: center;
}


}