*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-Nahid {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}